* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    background-color: #111125;
    color: white;

    height: 100vh;
    margin: 0;
    display: grid;
    gap: 20px;
    place-content: center;
}




.hover-1 {
    background: linear-gradient(#1095c1 0 0) left / var(--p,0) no-repeat;
    transition: .4s,background-position 0s;
}

.hover-1:hover {
    --p: 100%;
    background-position: right;
}

h1 {
    cursor: pointer;
}